<template>
  <div>
    <aside class="menu">
      <p class="menu-label">
        General
      </p>
      <ul class="menu-list">
        <li><nuxt-link :to="{name: 'dashboard'}" :class="{ 'is-active': select==0 }">Tableau de bord</nuxt-link></li>
        <li><nuxt-link :to="{name: 'profile'}" :class="{ 'is-active': select==1 }">Profile</nuxt-link></li>
      </ul>
      <p class="menu-label">
        Administration
      </p>
      <ul class="menu-list">
        <li><a>Paramètres</a></li>
      </ul>
    </aside>
  </div>
</template>

<script>
export default {
  props: ['select']
}
</script>

<style scoped lang="scss">
.menu {
  margin-left: 1rem;
}
</style>
