<template>
  <!-- START NAV -->
  <nav class="navbar is-white navbar-dashboard">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item brand-text" href="../">
          Golf Watcher
        </a>
        <div class="navbar-burger burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div id="navMenu" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">

              <p>
                <button class="button is-danger" @click="logout">
                  <span class="icon">
                    <i class="fa fa-sign-out"></i>
                  </span>
                  <span>Deconnexion</span>
                </button>
              </p>

            </div>
          </div>
        </div>

      </div>
    </div>
  </nav>
  <!-- END NAV -->
</template>

<script>
// import { mapMutations } from 'vuex'

export default {
  methods: {
    logout () {
      this.$store.commit('reinitState')
      this.$router.push('/login')
    }
  }
}
</script>

<style scoped lang="scss">
.navbar-dashboard {
  margin-bottom: 1rem;
}
</style>
