<template>

  <div class="container panel-container">
    <div class="columns">
      <div class="column is-6 is-offset-3 ">
        <div class="box">

          <div class="columns">
            <div class="column">
              <h1 class="title is-4 has-text-centered">
                AUTHENTIFICATION
              </h1>
            </div>
          </div>

          <hr>

          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label">Email</label>
                <div class="control has-icon has-icons-left has-icon-right">
                  <span class="icon is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                  <input
                    v-validate="'required|email'"
                    :class="{'input': true, 'is-danger': errors.has('email') }"
                    data-vv-delay="500"
                    name="email"
                    type="email"
                    placeholder="contact@goldclub.com"
                    v-model="email"
                    @keyup.enter="login">
                  <span class="icon is-right">
                    <i
                      v-show="errors.has('email')"
                      class="fa fa-warning"/>
                  </span>
                  <span
                    v-show="errors.has('email')"
                    class="help is-danger">
                    {{ errors.first('email') }}
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label">Password</label>
                <div class="control has-icon has-icons-left has-icon-right">
                  <span class="icon is-small is-left">
                    <i class="fa fa-key"></i>
                  </span>
                  <input
                    v-validate="'required'"
                    :class="{'input': true, 'is-danger': errors.has('password') }"
                    data-vv-delay="500"
                    name="password"
                    type="password"
                    v-model="password"
                    @keyup.enter="login">
                  <span class="icon is-right">
                    <i
                      v-show="errors.has('password')"
                      class="fa fa-warning"/>
                  </span>
                  <span
                    v-show="errors.has('password')"
                    class="help is-danger">
                    {{ errors.first('password') }}
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="columns">
            <div class="column">
              <div class="field is-grouped is-grouped-right">
                <!-- <p class="control">
                  <button class="button is-white">
                    Annuler
                  </button>
                </p> -->
                <p class="control">
                  <button class="button is-success is-medium" :class="{ 'is-loading': loading }" @click="login">
                    Login
                  </button>
                </p>
              </div>
            </div>
          </div>

          <hr>
          <div class="columns">
            <div class="column">
              <div class="field is-grouped is-grouped-centered">
                <p class="control">
                  <nuxt-link to="/">
                    <button class="button is-white">Accueil</button>
                  </nuxt-link>
                </p>
                <p class="control">
                  <nuxt-link to="/register">
                    <button class="button is-white">S'enregistrer</button>
                  </nuxt-link>
                </p>
                <p class="control">
                    <button class="button is-white" @click="test">Test</button>
                </p>
              </div>
            </div>
          </div> <!-- Other button -->

        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import VueNotifications from 'vue-notifications'

export default {
  data () {
    return {
      email: 'gilou@felot.xyz',
      password: 'galinette'
    }
  },
  asyncData ({store}) {
    store.commit('reinitState')
  },
  computed: {
    ...mapGetters({
      myError: 'getError',
      loading: 'isLoading'
    })
  },
  notifications: {
    showWarnMsg: {
      type: VueNotifications.types.warn,
      title: 'Oops!',
      message: ''
    },
    showErrorMsg: {
      type: VueNotifications.types.error,
      title: 'Erreur',
      message: 'Le formulaire n\'est pas valide2'
    }
  },
  methods: {
    test () {
      console.log('Store from page', this.$store.state)
    },
    async login () {
      const result = await this.$validator.validateAll()
      if (result) {
        const data = {
          email: this.email,
          password: this.password
        }
        try {
          await this.$store.dispatch('login', data)
          if (this.$store.state.isUserLoggedIn) {
            this.$router.push('dashboard')
          } else {
            this.showWarnMsg({message: this.$store.state.error})
          }
        } catch (error) {
          this.showWarnMsg({message: this.$store.state.error})
        }
      } else {
        this.showErrorMsg({message: this.$store.state.error})
      }
    }
  }
}
</script>

<style scoped lang="scss">
.panel-container {
  padding-top: 120px;
}
</style>
