<template>
  <div class="column is-6">
    <div class="card events-card">
      <header class="card-header">
        <p class="card-header-title">
          Alertes
        </p>
      </header>
      <div class="card-table">
        <div class="content">
          <table class="table is-fullwidth is-striped is-hoverable">
            <tbody>
              <nuxt-link class="issue-row" tag="tr" :to="{ name: `issue-id`, params: { id: issue._id }}" v-for="issue in issues" :key="issue._id">
                <td width="5%"><i class="material-icons">warning</i></td>
                <td width="80%">{{ limitString(issue.text) }}</td>
                <td v-if="issue.done" width="15%"><button class="button is-small is-success">Fait</button></td>
                <td v-else width="15%"><button class="button is-small is-danger">A faire</button></td>
              </nuxt-link>
            </tbody>
          </table>
        </div>
      </div>
      <!-- <footer class="card-footer">
        <a href="#" class="card-footer-item">View All</a>
      </footer> -->
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      issues: 'getIssues'
    })
  },
  methods: {
    limitString (s) {
      if (s.length > 10) {
        return `${s.slice(0, 30)}...`
      }
      return s
    },
    test () {
      console.log('Clicked !!!')
    }
  }
}
</script>

<style scoped lang="scss">
.issue-row:not(.is-selected):hover {
    cursor: pointer;
}
</style>
