<template>
  <div class="column is-6">
    <div class="card events-card">
      <header class="card-header">
        <p class="card-header-title">
          Club de Golf
        </p>
      </header>
      <div class="card-table">
        <div class="content">
          <table class="table is-fullwidth is-striped is-hoverable">
            <tbody>
              <nuxt-link class="club-row" tag="tr" :to="{ name: `golfclub-id`, params: { id: club._id }}" v-for="club in golfClubs" :key="club._id">
                <td width="5%"><i class="material-icons">golf_course</i></td>
                <td width="80%">{{ club.name }}</td>
                <td width="15%"><button class="button is-small is-primary">Action</button></td>
              </nuxt-link>
            </tbody>
          </table>
        </div>
      </div>
      <footer class="card-footer">
        <nuxt-link to="golfclub/new" class="card-footer-item">
          <i class="fa fa-plus-square" aria-hidden="true"></i>Ajout d'un club
        </nuxt-link>
      </footer>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      golfClubs: 'getGolfClubs'
    })
  }
}
</script>

<style scoped lang="scss">
.club-row:not(.is-selected):hover {
    cursor: pointer;
}
</style>
