<template>
  <section class="hero is-info welcome is-small">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Bonjour{{ user !== null ? `, ${user.name} ${user.lastname}` : '' }}.
        </h1>
        <h2 class="subtitle">
          Passer une bonne journée.
        </h2>
        <!-- <button class="button" @click="test">Check</button> -->
      </div>
    </div>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      user: 'getUser'
    })
  }
}
</script>

<style scoped lang="scss">
.hero {
  margin-bottom: 1rem;
}
</style>
