<template>
  <div>

    <navbar />

    <div class="columns">

      <div class="column is-2">
        <aside-menu :select="0"/>
      </div>

      <div class="column is-9">

        <new-golf-form />
        
      </div>
    </div>

  </div>
</template>

<script>
import Navbar from '@/components/Dashboard/Navbar'
import AsideMenu from '@/components/Dashboard/AsideMenu'
import NewGolfForm from '@/components/Dashboard/GolfForm/new.vue'

export default {
  layout: 'dashboard',
  components: {
    Navbar,
    AsideMenu,
    NewGolfForm
  },
  middleware: 'authenticated'
}
</script>

<style lang="scss">

</style>
