<template>
  <h1>
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Date du {{convertTime(issue.createdAt)}}
        </p>
        <!-- <a href="#" class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fa fa-angle-down" aria-hidden="true"></i>
          </span>
        </a> -->
        <div class="field card-header-icon">
          <input id="doneSwitch" @click="toggleIssue(issue)" type="checkbox" class="switch is-rtl" :checked="issue.done">
          <label for="doneSwitch">Fait</label>
        </div>
      </header>
      <div class="card-image">
        <gmap-map
          :center="{lat:issue.gps.lat, lng:issue.gps.lng}"
          :zoom="16"
          map-type-id="terrain"
          style="width: 100%; height: 400px"
        >
          <gmap-marker :position="{lat:issue.gps.lat, lng:issue.gps.lng}">
          </gmap-marker>
          <gmap-info-window :position="{lat:issue.gps.lat, lng:issue.gps.lng}">
            {{ issue.text }}
          </gmap-info-window>
        </gmap-map>
      </div>
      <div class="card-content">
        <h2 class="is-4 title">
          Message : {{ issue.text }}
        </h2>
      </div>
    </div>
  </h1>
</template>

<script>
import moment from 'moment'
import { mapGetters, mapActions } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      issue: 'getOneIssue',
      loading: 'isLoading'
    })
  },
  methods: {
    test () {
      console.log(this.issue)
    },
    convertTime (time) {
      moment.locale('fr')
      return moment(time, moment.ISO_8601).format('MM-DD-YYYY')
    },
    ...mapActions({
      toggleIssue: 'changeIssueDoneState'
    })
  }
}
</script>

<style lang="scss" scoped>

</style>
