<template>
  <section class="section card">
    <div class="columns">
      <div class="column is-12">
        <h1 class="title is-1">{{ club.name }}</h1>
        <hr>
      </div>
    </div>

    <!-- GENERAL -->
    <div class="columns">
      <div class="column is-one-third">
        <h6 class="title is-4">Général</h6>
      </div>
      <div class="column is-two-thirds">
        <div class="columns is-multiline">
          <!-- Nom du club -->
          <div class="column is-12">
            <div class="field">
              <label class="label">Nom du club</label>
              <div class="control">
                <input class="input" type="text" placeholder="Golf Club" v-model="club.name">
              </div>
            </div>
          </div>
          <!-- Référance client -->
          <div class="column is-12">
            <div class="field">
              <label class="label">Référence Client</label>
              <div class="control">
                <input class="input" type="text" placeholder="Golf Club" v-model="club._id" disabled>
              </div>
            </div>
          </div>
        </div> <!-- is-multiline form  -->
      </div>
    </div>

    <hr>

    <!-- ADDRESSE -->
    <div class="columns address">
      <div class="column is-one-third">
        <h6 class="title is-4">Addresse</h6>
      </div>
      <div class="column is-two-thirds">
        <div class="columns is-multiline">
          <!-- Nom du contact -->
          <div class="column is-12">
            <div class="field">
              <label class="label">Nom du Contact</label>
              <div class="control">
                <input class="input" type="text" placeholder="Golf Club" v-model="club.address.club.contactName">
              </div>
            </div>
          </div>
          <!-- Email Account -->
          <div class="column is-12">
            <div class="field">
              <label class="label">Email du compte</label>
              <div class="control">
                <input class="input" type="text" placeholder="Golf Club" v-model="club.address.club.email">
              </div>
            </div>
          </div>
          <!-- Téléphone -->
          <div class="column is-12">
            <div class="field">
              <label class="label">Téléphone</label>
              <div class="control">
                <input class="input" type="text" placeholder="Golf Club" v-model="club.address.club.phone">
              </div>
            </div>
          </div>
          <!-- Numéro -->
          <div class="column is-3">
            <div class="field">
              <label class="label">Numéro</label>
              <div class="control">
                <input class="input" type="text" placeholder="42" v-model="club.address.club.number">
              </div>
            </div>
          </div>
          <!-- Rue -->
          <div class="column is-9">
            <div class="field">
              <label class="label">Rue</label>
              <div class="control">
                <input class="input" type="text" placeholder="rue des rosiers" v-model="club.address.club.street">
              </div>
            </div>
          </div>
          <!-- Zip -->
          <div class="column is-3">
            <div class="field">
              <label class="label">Code Postale</label>
              <div class="control">
                <input class="input" type="text" placeholder="12345" v-model="club.address.club.zip">
              </div>
            </div>
          </div>
          <!-- Ville -->
          <div class="column is-9">
            <div class="field">
              <label class="label">Ville</label>
              <div class="control">
                <input class="input upper" type="text" placeholder="Bordeaux" v-model="club.address.club.city">
              </div>
            </div>
          </div>
          <!-- Pays -->
          <div class="column is-12">
            <div class="field">
              <label class="label">Pays</label>
              <div class="control">
                <input class="input upper" type="text" placeholder="France" v-model="club.address.club.country">
              </div>
            </div>
          </div>

        </div> 
        <!-- is-multiline form  -->
      </div>
    </div>

    <hr>

    <!-- Facturation -->
    <div class="columns">
      <div class="column is-one-third">
        <h6 class="title is-4">Facturation</h6>
      </div>
      <div class="column is-two-thirds">
        <div class="columns is-multiline">
          <!-- Nom du contact -->
          <div class="column is-12">
            <div class="field">
              <label class="label">Nom du Contact</label>
              <div class="control">
                <input class="input" type="text" placeholder="Jean Dupont" v-if="club.address && club.address.bill" v-model="club.address.bill.contactName">
              </div>
            </div>
          </div>
          <!-- Numéro -->
          <div class="column is-3">
            <div class="field">
              <label class="label">Numéro</label>
              <div class="control">
                <input class="input" type="text" placeholder="42" v-model="club.address.bill.number">
              </div>
            </div>
          </div>
          <!-- Rue -->
          <div class="column is-9">
            <div class="field">
              <label class="label">Rue</label>
              <div class="control">
                <input class="input" type="text" placeholder="rue des rosiers" v-model="club.address.bill.street">
              </div>
            </div>
          </div>
          <!-- Zip -->
          <div class="column is-3">
            <div class="field">
              <label class="label">Code Postale</label>
              <div class="control">
                <input class="input" type="text" placeholder="12345" v-model="club.address.bill.zip">
              </div>
            </div>
          </div>
          <!-- Ville -->
          <div class="column is-9">
            <div class="field">
              <label class="label">Ville</label>
              <div class="control">
                <input class="input" type="text" placeholder="Bordeaux" v-model="club.address.bill.city">
              </div>
            </div>
          </div>
          <!-- Pays -->
          <div class="column is-12">
            <div class="field">
              <label class="label">Pays</label>
              <div class="control">
                <input class="input" type="text" placeholder="France" v-model="club.address.bill.country">
              </div>
            </div>
          </div>

        </div> 
        <!-- is-multiline form  -->
      </div>
    </div>

    <hr>

    <!-- Contact -->
    <div class="columns">
      <div class="column is-one-third">
        <h1 class="title is-4">Contact</h1>
        <h2 class="subtitle is-5">En cas d'alerte</h2>
      </div>
      <div class="column is-two-thirds">
        <div v-for="(c, index) in club.contact" :key="c._id">
          <div class="columns is-multiline">
            <div class="column is-12">
              <h3 class="title is-6 contact-name">Contact {{ index + 1 }} <button class="delete is-small" @click="deleteContact(c._id)"></button></h3> 
            </div>
            <!-- Nom du contact -->
            <div class="column is-12">
              <div class="field">
                <label class="label">Prénom</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Jean" v-model="c.name">
                </div>
              </div>
            </div>
            <!-- Prénom du contact -->
            <div class="column is-12">
              <div class="field">
                <label class="label">Nom</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Dupont" v-model="c.lastname">
                </div>
              </div>
            </div>
            <!-- Email -->
            <div class="column is-12">
              <div class="field">
                <label class="label">Email</label>
                <div class="control">
                  <input class="input" type="text" placeholder="contact@golf.fr" v-model="c.email">
                </div>
              </div>
            </div>
            <!-- Téléphone -->
            <div class="column is-12">
              <div class="field">
                <label class="label">Téléphone</label>
                <div class="control">
                  <input class="input" type="text" placeholder="0324571832" v-model="c.phone">
                </div>
              </div>
            </div>
            
          </div>
          <!-- is-multiline form  -->
        </div> 
      </div>
    </div>
    <!-- Ajout contact -->
    <div class="columns">
      <div class="column is-2 is-offset-10">
        <p class="control">
            <button class="button is-info" @click="addContact">
              Nouveau Contact
            </button>
          </p>
      </div>
    </div>

    <hr>

    <!-- Button Validation -->
    <div class="columns">
      <div class="column is-offset-8 is-4">
        <div class="field is-grouped">
          <p class="control">
            <button class="button is-danger is-outlined">
              Supprimer
            </button>
          </p>
          <p class="control">
            <button class="button is-info" :class="{ 'is-loading': loading }" @click="update">
              Modifer
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>

  </section>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import _ from 'lodash'

export default {
  data () {
    return {
      club: this.$store.state.club
    }
  },
  computed: {
    ...mapGetters({
      clubFromStore: 'getClub',
      loading: 'isLoading'
    })
  },
  methods: {
    ...mapActions([
      'updateClub'
    ]),
    deleteContact (id) {
      this.club.contact = _.filter(this.club.contact, c => c._id !== id)
      console.log(this.club.contact)
    },
    update () {
      // add vee-validate
      this.updateClub(this.club)
    },
    addContact () {
      const freshUser = {
        name: '',
        lastname: '',
        email: '',
        phone: ''
      }
      this.club.contact.push(freshUser) // from mapGetters
    }
  }
}
</script>

<style scoped lang="scss">
.form-section {
  margin-bottom: -2rem;
}
.input {
  background-color: #F5F5F5;
}
.contact-name {
  margin-top: 1.3rem;
}
.address input .upper {
  text-transform: uppercase;
}
</style>
