<template>
  <footer class="footer">
    <!-- <div class="container"> -->
      <div class="columns">
        <div class="column is-2 made-by">
          <div class="content has-text-white-bis">
            Made by <a href="https://gilfelot.com"><strong>Gil Felot</strong></a>
          </div>
        </div>
        <div class="column is-2 is-offset-8">
          <a href="https://bulma.io">
            <img src="https://bulma.io/images/made-with-bulma--semiwhite.png" 
            alt="Made with Bulma" width="128" height="24">
          </a>
        </div>
      </div>
    <!-- </div> -->
  </footer>
</template>

<script>
export default {
}
</script>

<style lang="scss">
.footer {
  // margin: 1rem 1.5rem 1rem;
  padding: 0;
  background-color: #FF851B;
  .made-by {
    margin-left: 1rem
  }
}
</style>
