<template>
  <div class="auth">
    <nuxt/>
  </div>
</template>

<scriptw
</script>

<style lang="scss">
.auth {
  background-image: url('~/static/ballBG.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
}
</style>
