<template>
  <div class="default">
    <navbar />
    <nuxt/>
    <my-footer />
  </div>
</template>

<script>
import Navbar from '~/components/Navbar.vue'
import MyFooter from '~/components/Footer.vue'

export default {
  components: {
    Navbar,
    MyFooter
  }
}
</script lang="scss">
<style>
.default {
  background-color: #f3f7fa
}
</style>
