<template>
  <div class="container panel-container">
    <div class="columns">
      <div class="column is-6 is-offset-3 ">
        <div class="box">

          <div class="columns">
            <div class="column">
              <h1 class="title is-4 has-text-centered">
                INSCRIPTION
              </h1>
            </div>
          </div>

          <!-- <div class="steps">
            <div class="step-item is-completed is-success">
              <div class="step-marker">
                <span class="icon">
                  <i class="fa fa-check"></i>
                </span>
              </div>
              <div class="step-details">
                <p class="step-title">Step 1</p>
                <p>This is the first step of the process.</p>
              </div>
            </div>
            <div class="step-item is-active">
              <div class="step-marker"></div>
              <div class="step-details">
                <p class="step-title">Step 2</p>
                <p>This is the second step. You get here once you have completed the first step.</p>
              </div>
            </div>
            <div class="step-item">
              <div class="step-marker">3</div>
              <div class="step-details">
                <p class="step-title">Step 3</p>
                <p>This is the third step. One more last before the end.</p>
              </div>
            </div>
            <div class="step-item">
              <div class="step-marker">
                <span class="icon">
                  <i class="fa fa-flag"></i>
                </span>
              </div>
              <div class="step-details">
                <p class="step-title">Step 4</p>
                <p>Final step. You have completed all the previous steps and end the process.</p>
              </div>
            </div>
          </div> -->

          <hr>

          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label">Nom</label>
                <div class="control has-icon has-icon-right">
                  <input
                    v-validate="'required|alpha'"
                    class="input"
                    data-vv-delay="250"
                    name="lastname"
                    type="text"
                    placeholder="Dupont"
                    v-model="lastname"
                    @keyup.enter="register">
                  <span class="icon is-right">
                    <i
                      v-show="errors.has('lastname')"
                      class="fa fa-warning "/>
                  </span>
                  <span
                    v-show="errors.has('lastname')"
                    class="help is-danger">
                    {{ errors.first('lastname') }}
                  </span>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label">Prénom</label>
                <div class="control has-icon has-icon-right">
                  <input
                    v-validate="'required|alpha'"
                    :class="{'input':true, 'is-danger':errors.has('name') }"
                    data-vv-delay="250"
                    name="name"
                    type="text"
                    placeholder="Jean"
                    v-model="name"
                    @keyup.enter="register">
                  <span class="icon is-right">
                    <i
                      v-show="errors.has('name')"
                      class="fa fa-warning"/>
                  </span>
                  <span
                    v-show="errors.has('name')"
                    class="help is-danger">
                    {{ errors.first('name') }}
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label">Email</label>
                <div class="control has-icon has-icons-left has-icon-right">
                  <span class="icon is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                  <input
                    v-validate="'required|email'"
                    :class="{'input': true, 'is-danger': errors.has('email') }"
                    data-vv-delay="500"
                    name="email"
                    type="email"
                    placeholder="contact@goldclub.com"
                    v-model="email"
                    @keyup.enter="register">
                  <span class="icon is-right">
                    <i
                      v-show="errors.has('email')"
                      class="fa fa-warning"/>
                  </span>
                  <span
                    v-show="errors.has('email')"
                    class="help is-danger">
                    {{ errors.first('email') }}
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label">Password</label>
                <div class="control has-icon has-icons-left has-icon-right">
                  <span class="icon is-small is-left">
                    <i class="fa fa-key"></i>
                  </span>
                  <input
                    v-validate="'required|min:6'"
                    :class="{'input': true, 'is-danger': errors.has('password') }"
                    data-vv-delay="500"
                    name="password"
                    type="password"
                    v-model="password"
                    @keyup.enter="register">
                  <span class="icon is-right">
                    <i
                      v-show="errors.has('password')"
                      class="fa fa-warning"/>
                  </span>
                  <span
                    v-show="errors.has('password')"
                    class="help is-danger">
                    {{ errors.first('password') }}
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label">Password</label>
                <div class="control has-icon has-icons-left has-icon-right">
                  <span class="icon is-small is-left">
                    <i class="fa fa-key"></i>
                  </span>
                  <input
                    v-validate="'required|min:6|confirmed:password'"
                    :class="{'input': true, 'is-danger': errors.has('repassword') }"
                    data-vv-delay="500"
                    name="repassword"
                    type="password"
                    v-model="repassword"
                    @keyup.enter="register">
                  <span class="icon is-right">
                    <i
                      v-show="errors.has('repassword')"
                      class="fa fa-warning"/>
                  </span>
                  <span
                    v-show="errors.has('repassword')"
                    class="help is-danger">
                    {{ errors.first('repassword') }}
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="columns">
            <div class="column">
              <div class="field is-grouped is-grouped-right">
                <p class="control">
                  <button class="button is-white is-medium" @click="reset">
                    Annuler
                  </button>
                </p>
                <p class="control">
                  <button class="button is-success is-medium" :class="{ 'is-loading': loading }" type="submit" @click="register">
                    S'enregistrer
                  </button>
                </p>
              </div>
            </div>
          </div>

          <hr />
          <div class="columns">
            <div class="column">
              <div class="field is-grouped is-grouped-centered">
                <p class="control">
                  <nuxt-link to="/">
                    <button class="button is-white">Accueil</button>
                  </nuxt-link>
                </p>
                <p class="control">
                  <button class="button is-white">Mot de pass oublié</button>
                </p>
                <p class="control">
                  <nuxt-link to="/login">
                    <button class="button is-white">Authentification</button>
                  </nuxt-link>
                </p>
              </div>
            </div>
          </div> <!-- Other button -->
        </div> <!--  BOX  -->
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import VueNotifications from 'vue-notifications'

export default {
  data () {
    return {
      email: '',
      password: '',
      repassword: '',
      name: '',
      lastname: ''
    }
  },
  computed: {
    ...mapGetters({
      myError: 'getError',
      mySuccess: 'getSuccess',
      loading: 'isLoading'
    })
  },
  notifications: {
    showErrorMsg: {
      type: VueNotifications.types.error,
      message: 'Le formulaire n\'est pas valide'
    },
    showSuccessMsg: {
      type: VueNotifications.types.success,
      title: 'OK',
      message: 'That\'s the success!'
    }
  },
  methods: {
    async register () {
      const result = await this.$validator.validateAll()
      this.$store.dispatch('toggleLoading', true)
      if (result) {
        const data = {
          email: this.email,
          password: this.password,
          name: this.name,
          lastname: this.lastname
        }
        await this.$store.dispatch('register', data)
        if (this.myError) {
          this.$store.dispatch('toggleLoading', false)
          return this.showErrorMsg({ message: this.myError })
        } else if (this.mySuccess) {
          this.$store.dispatch('toggleLoading', false)
          return this.showSuccessMsg({ message: this.mySuccess })
        }
      }
      this.$store.dispatch('toggleLoading', false)
      return this.showErrorMsg()
    },
    reset () {
      this.email = ''
      this.password = ''
      this.name = ''
      this.lastname = ''
    }
  }
}
</script>

<style scoped lang="scss">
.panel-container {
  padding-top: 120px;
}
</style>
