<template>
  <div>

    <navbar />

  <!-- <div class="container"> -->
    <div class="columns">

      <div class="column is-2">
        <aside-menu :select="0"/>
      </div>

      <div class="column is-9">

        <welcome />
        <stats />

      </div>
    </div>
  <!-- </div> -->

  </div>
</template>

<script>
import Navbar from '@/components/Dashboard/Navbar'
import AsideMenu from '@/components/Dashboard/AsideMenu'
import Welcome from '@/components/Dashboard/Stats/Welcome'
import Stats from '@/components/Dashboard/Stats'

export default {
  layout: 'dashboard',
  components: {
    Navbar,
    AsideMenu,
    Welcome,
    Stats
  },
  middleware: 'authenticated',
  async fetch ({ store }) {
    await store.dispatch('getUserInfo')
  }
}
</script>

<style lang="scss">

</style>
