<template>
  <div>
    <hero />
    <intro-home />
    <section-video />
    <app-store />
    <section-image />
    <contact-info />
  </div>
</template>

<script>
import Hero from '~/components/Landing/Hero'
import IntroHome from '~/components/Landing/IntroHome'
import SectionImage from '~/components/Landing/SectionImage'
import SectionVideo from '~/components/Landing/SectionVideo'
import ContactInfo from '~/components/Landing/ContactInfo'
import AppStore from '~/components/Landing/AppStore'

export default {
  components: {
    Hero,
    IntroHome,
    SectionImage,
    SectionVideo,
    ContactInfo,
    AppStore
  }
}
</script>

<style lang="scss">

</style>
