<template>
  <login-panel></login-panel>
</template>

<script>
import LoginPanel from '~/components/Login/LoginPanel.vue'
export default {
  layout: 'auth',
  components: {
    LoginPanel
  }
}
</script>

<style lang="scss">

</style>
