<template>
  <div>

    <navbar />

    <div class="columns">

      <div class="column is-2">
        <aside-menu :select="1"/>
      </div>

      <div class="column is-9">
        <profile />
      </div>

    </div>

  </div>
</template>

<script>
import Navbar from '@/components/Dashboard/Navbar'
import AsideMenu from '@/components/Dashboard/AsideMenu'
import Profile from '@/components/Dashboard/Profile'

export default {
  layout: 'dashboard',
  components: {
    Navbar,
    AsideMenu,
    Profile
  },
  middleware: 'authenticated',
  async fetch ({ store }) {
    await store.dispatch('getUserInfo')
  }
}
</script>

<style lang="scss">
</style>
