<template>
  <register-panel></register-panel>
</template>

<script>
import RegisterPanel from '~/components/Register/RegisterPanel.vue'
export default {
  layout: 'auth',
  components: {
    RegisterPanel
  }
}
</script>

<style lang="scss">
</style>
