<template>
  <div>

    <navbar />

    <div class="columns">

      <div class="column is-2">
        <aside-menu :select="0"/>
      </div>

      <div class="column is-9">

        <alert-vue />
        
      </div>
    </div>

  </div>
</template>

<script>
import Navbar from '@/components/Dashboard/Navbar'
import AsideMenu from '@/components/Dashboard/AsideMenu'
import AlertVue from '@/components/Dashboard/AlertVue'

export default {
  layout: 'dashboard',
  components: {
    Navbar,
    AsideMenu,
    AlertVue
  },
  middleware: 'authenticated',
  async fetch ({ store, params }) {
    try {
      await store.dispatch('getIssue', params.id)
    } catch (error) {
      console.log(error)
    }
  }
}
</script>

<style scoped lang="scss">

</style>
