<template>
  <section class="section card">
    <div class="columns">
      <div class="column is-12">
        <h1 class="title is-1">Profile</h1>
        <hr>
      </div>
    </div>


    <div class="columns">
      <div class="column is-one-third">
        <h6 class="subtitle is-4">Général</h6>
      </div>
      <div class="column is-two-thirds">
        <div class="columns is-multiline">
          <!-- Prénom -->
          <div class="column is-half">
            <div class="field">
              <label class="label">Prénom</label>
              <div class="control">
                <input class="input" type="text" placeholder="Jean" v-model="user.name">
              </div>
            </div>
          </div>
          <!-- Nom -->
          <div class="column is-half">
            <div class="field">
              <label class="label">Nom</label>
              <div class="control">
                <input class="input" type="text" placeholder="Dupont" v-model="user.lastname">
              </div>
            </div>
          </div>
          <!-- Addresse -->
          <div class="column is-12">
            <div class="field">
              <label class="label">Addresse</label>
              <div class="control">
                <input class="input" type="text" placeholder="12 rue des landes" v-model="user.address">
              </div>
            </div>
          </div>
          <!-- Téléphone -->
          <div class="column is-12">
            <div class="field">
              <label class="label">Téléphone</label>
              <div class="control">
                <input class="input" type="text" placeholder="0324531242" v-model="user.tel">
              </div>
            </div>
          </div>
          <!-- Button -->

        </div> <!-- is-multiline form  -->
          <div class="columns">
            <div class="column is-offset-8 is-4">
              <div class="field is-grouped">
                <p class="control">
                  <button class="button is-light">
                    Annuler
                  </button>
                </p>
                <p class="control">
                  <button class="button is-info" :class="{ 'is-loading': loading }" @click="update">
                    Modifer
                  </button>
                </p>
              </div>
            </div>
          </div>
      </div>
    </div>

  </section>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data () {
    return {
      user: {
        name: this.$store.state.user.name,
        lastname: this.$store.state.user.lastname,
        email: this.$store.state.user.email,
        tel: this.$store.state.user.tel,
        address: this.$store.state.user.address
      }
    }
  },
  watch: { // this watcher watches changes in the store and updates the component data - newUser.
    userFromStore: function (user) { // user passed through here is the user object from the mapGetter (ie. the store.)
      this.user.lastname = user.lastname
      this.user.name = user.name
      this.user.email = user.email
      this.user.tel = user.tel
      this.user.address = user.address
    }
  },
  computed: {
    ...mapGetters({
      userFromStore: 'getUser',
      loading: 'isLoading'
    })
  },
  methods: {
    update () {
      this.$store.dispatch('updateUser', this.user)
    }
  }
}
</script>

<style scoped lang="scss">
.form-section {
  margin-bottom: -2rem;
}
.input {
  background-color: #F5F5F5;
}
</style>
