<template>
  <div class="columns">
    <div class="column is-2 is-offset-2 store">
      <i class="fa fa-apple" aria-hidden="true"></i> Disponible<br>iOS
    </div>
    <div class="column is-2 store">
      <i class="fa fa-android" aria-hidden="true"></i> Disponible<br>Android
    </div>
    <div class="cloumn is-4">
      <figure class="image">
        <img class="devices" src="~/static/devices.png">
      </figure>
    </div>  
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
.devices {
  width: 250px
}
.store {
  text-align: right;
}
</style>
