<template>
  <section class="hero is-info is-fullheight hero-welcome">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Golf Watcher
        </h1>
        <h2 class="subtitle">
          L’application participative pour un golf d’excellence
        </h2>
      </div>
    </div>
  </section>
</template>

<script>

export default {
}
</script>

<style scoped lang="scss">
.hero-welcome {
  background-image: url('~/static/ballBG.jpg');
  background-position: center center;
  background-size: cover;
  background-color: white;
}
.title {
  font-size: 5rem
}
</style>
