<template>
  <section>
    <div class="container">
      <div class="columns">
        <!-- <div class="column">
          <figure class="image">
            <img :src="require('@/static/golferInAction.jpg')" alt="Un golf en action">
          </figure>
        </div> -->
        <div class="column is-offset-2 is-8">
          <div class="card intro">
            <div class="card-content">
              <div class="columns is-multiline">
                <div class="column is-12">
                  <h3>
                    Chaque membre à partir de son smartphone informe en 4 clics la direction du golf sur d'éventuelles améliorations à apporter sur le parcours.
                  </h3> 
                </div>
                <div class="column is-12">
                  <h3>
                    Grace à vous tous nos parcours restent tout au long de la journée à un niveau d'excellence remarquable.
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>

</script>

<style lang="scss">
  .intro {
    margin-top: -12rem;
    box-shadow: 4px 4px 4px hsla(0,0%,4%,.1);
  }
  h3 {
    font-family: Montserrat;
    font-size: 2rem;
    text-align: justify;
  }
  .listing {
    margin-top: 1rem;
  }
  
</style>
