<template>
  <section class="hero is-primary is-medium middle-hero">
  <div class="hero-body">

  </div>
</section>
</template>

<script>
export default {
}
</script>

<style scoped lang="scss">
.middle-hero {
  background-image: url('~/static/golfParallax.jpg');
  background-position: center center;
  background-size: cover;
  margin: 2rem 0;
}
</style>
