<template>
  <section class="sectionVideo">
    <div class="container">

      <div class="columns">
        <div class="column is-offset-2 is-8">
          <youtube v-if="isMounted" video-id="mvvuvdjh0KE"></youtube>
        </div>
      </div> <!-- columns -->

    </div>
  </section>
</template>

<script>
export default {
  data () {
    return {
      isMounted: false
    }
  },
  mounted () {
    this.isMounted = true
  }
}
</script>

<style lang="scss">
.sectionVideo {
  margin-top: 3rem;
}
</style>
